h1 {
color:rgb(131, 90, 2);
margin-left: 5px;
}

h2, h3 {
    color:gray;
    margin-right:9%;
    margin-left:5px;
}

p
{
margin-right:9%;
margin-left:5px;
line-height: 35px;
text-align: justify;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
   
#header {
    background-color:gold;
    padding:5px;
    margin:5px;
    margin-top: 20px;
    margin-block-end: 20px;
}

#nav {
    line-height:30px;
    width:100px;
    float:left;
    padding:5px; 
    margin-left:5px;
    color:black;
    text-decoration:none;  
}

#footer {
    background-color:gold;
    color:black;
    clear:both;
    text-align:center;
    padding:5px; 
    margin:5px;
    margin-top: 20px;
    margin-block-end: 20px;
}

a:link,a:visited
{
display:block;
font-weight:bold;
color:black;
background-color:#eeeeee;
width:100px;
text-align:center;
padding:5px; 
text-decoration:none;
text-transform:uppercase;
}

a:hover,a:active
{
background-color:gold;
}

hr {
margin-right:9%;
margin-left:25%;
border-top:2px solid gold;
}

/* Dashed Gold border */
hr.new {
    border-top: 5px dashed gold;
    margin-right:100px;
  }

